/*Loading*/
#loading.active{
    display:-webkit-flex;
    -webkit-align-items:center;
    -webkit-justify-content:center;
    background-color:rgba(25,25,25,0.5);
    height:100%;
}

#loading div{
    padding:20px;
    background-color:#ccc;
    color:#333;
    border-radius:10px;
}