/*Main Page*/
#mainPage.active{
    display:block;
    height:100%;
}

#mainPage #graph-container{
    height:100%;
}

#mainPage #queryMenu.open{
    right:0px;
}
#mainPage #queryMenu{
    position:absolute;
    top:0;
    right:-245px;

    width:245px;
    height:100%;

    background-color:#aaa;
    z-index:1;


    -webkit-transition:right 300ms ease;
}

#mainPage #queryMenu > div {
    position:absolute;
    display:-webkit-flex;
    -webkit-align-items:center;
    -webkit-justify-content:center;
    padding:5px 0;
    width:50px;
    border-radius:10px;
    background-color:#aaa;
    color:#333;
    margin-left:-40px;
    margin-top:150px;
}

#mainPage #queryMenu > div i{
    display:block;
    font-size:25px;
    margin-right:10px;
}

#mainPage #queryMenu > ul{
    list-style:none;
    padding:0 15px;

}
#mainPage #queryMenu > ul::after{
    content: " ";
    display: block;
    height: 1px;
    margin: 20px 0;
    background: linear-gradient(90deg, #aaa 15%, #666, #aaa 85%);

}

#mainPage #queryMenu > ul:last-child::after{
    content:none;
}

#mainPage #queryMenu > ul li{
    text-align:center;
    border-radius:10px;
    border: thin solid #888;
    margin: 5px 0;
    height:48px;
    overflow:hidden;
}



#mainPage #queryMenu ul > li h1{
    margin:0;
    padding:10px;

    font-weight:normal;
    font-size:24px;
    border-radius:10px;
    background-color: #ccc;


}

#mainPage #toolsMenu.open{
    left:0px;
}
#mainPage #toolsMenu{
    position:absolute;
    top:0;
    left:-245px;

    width:245px;
    height:100%;

    background-color:#aaa;
    z-index:1;


    -webkit-transition:right 300ms ease;
}

#mainPage #toolsMenu > div {
    position:absolute;
    display:-webkit-flex;
    -webkit-align-items:center;
    -webkit-justify-content:center;
    padding:5px 0;
    width:50px;
    border-radius:10px;
    background-color:#aaa;
    color:#333;
   /* margin-left:-40px;
    margin-top:150px;*/
}

#mainPage #toolsMenu > div i{
    display:block;
    font-size:25px;
    margin-left:30px;
}

#mainPage #toolsMenu > ul{
    list-style:none;
    padding:0 15px;

}
#mainPage #toolsMenu > ul::after{
    content: " ";
    display: block;
    height: 1px;
    margin: 20px 0;
    background: linear-gradient(90deg, #aaa 15%, #666, #aaa 85%);

}

#mainPage #toolsMenu > ul:last-child::after{
    content:none;
}

#mainPage #toolsMenu > ul li{
    text-align:center;
    border-radius:10px;
    border: thin solid #888;
    margin: 5px 0;
    height:48px;
    overflow:hidden;
}



#mainPage #toolsMenu ul > li h1{
    margin:0;
    padding:10px;

    font-weight:normal;
    font-size:24px;
    border-radius:10px;
    background-color: #ccc;


}