/*Main Page*/
#mainPage.active{
    display:block;
    height:100%;
    color:#00080A;
}

#mainPage #graph-container{
    height:100%;
}

#mainPage .icon {
    color:#022F3A;
    cursor:pointer;
}
#mainPage #queryMenu ul.typeSelector, #mainPage #toolsMenu ul.typeSelector{
    display: -webkit-flex;
    list-style: none;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    height: 30px;
    margin: 5px 15px;
    color: #ECEDED;
}

#mainPage ul.typeSelector li{
    -webkit-flex: 1 1 auto;
    font-size: 10px;
    font-weight: bold;
    padding-top:9px;
    color:rgba(0, 8, 10, 0.75);
    background-color:rgba(255, 0, 0, 0.22);
    cursor:pointer;
}

#mainPage ul.typeSelector li[data-type=author]{
    background-color:rgba(70, 130, 180, 0.6); /* steelblue es rgb(70, 130, 180), hsl(207, 44%, 49%)*/
}

#mainPage ul.typeSelector li[data-type=paper]{
    background-color:rgba(128, 0, 128, 0.6); /* purple es rgb(128, 0, 128), hsl(300, 100%, 25%);*/
}

#mainPage ul.typeSelector li[data-type=conf]{
    background-color:rgba(34, 139, 34, 0.6); /*forestgreen es rgb(34, 139, 34), hsl(120, 61%, 34%)*/
}

#mainPage ul.typeSelector li[data-type=term]{
    background-color:rgba(139, 0, 0, 0.6); /* darkred es rgb(139, 0, 0), hsl(0, 100%, 27%) */
}

#mainPage ul.typeSelector li[data-type=author].selected{
    background-color: rgba(70, 130, 180, 1);
    color: #ECEDED;
}

#mainPage ul.typeSelector li[data-type=paper].selected{
    background-color: rgba(128, 0, 128, 1);
    color: #ECEDED;
}

#mainPage ul.typeSelector li[data-type=conf].selected{
    background-color: rgba(34, 139, 34, 1);
    color: #ECEDED;
}

#mainPage ul.typeSelector li[data-type=term].selected{
    background-color: rgba(139, 0, 0, 1);
    color: #ECEDED;
}

#mainPage .oneLine input{
    margin-top: 10px;
}

#mainPage input {
    border-radius: 5px;
    border: 1px solid #678F99;
    font-size: 14px;
    width:150px;
}

#mainPage input:focus {
    outline: none;
    border-color: #9ecaed;
    border: 1px solid #678F99;
    box-shadow: 0 0 6px #9ecaed;
}


#mainPage .scrolleable-y {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

#mainPage #queryMenu.open{
    right:0px;
}
#mainPage #queryMenu{
    position:absolute;
    top:0;
    right:-245px;

    width:245px;
    height:100%;

    background-color:#678F99;
    z-index:1;


    -webkit-transition:right 300ms ease;
}

#mainPage #queryMenu .divext {
    position:absolute;
    display:-webkit-flex;
    -webkit-align-items:center;
    -webkit-justify-content:center;
    padding:5px 0;
    width:45px;
    border-radius:10px;
    background-color:#678F99;
    color:#00080A;
    margin-left:-40px;
    margin-top:150px;
    cursor:pointer;
}

#mainPage #queryMenu span{
    display: block;
    text-align: left;
    margin: 10px 0 0 10px;
    font-size: 14px;
    color: #022F3A;
    font-style: italic;
}

#mainPage #queryMenu .divext i{
    display:block;
    font-size:25px;
    margin-right:10px;
    color: #022F3A;
}

#mainPage #queryMenu > div > ul{
    list-style:none;
    padding:0 15px;

}
#mainPage #queryMenu > div > ul::after{
    content: " ";
    display: block;
    height: 1px;
    margin: 20px 0;
    background: #BFDCE3;
    border-bottom: thin solid #255C69;
}

#mainPage #queryMenu > div > ul:last-child::after{
    content:none;
}

#mainPage #queryMenu > div > ul > li, #mainPage #toolsMenu > div > ul > li{
    text-align:center;
    border-radius:10px;
    border: thin solid #022F3A;
    margin: 5px 0;
    height:42px;
    overflow:hidden;
    background-color:#ECEDED;
    -webkit-transition: height 200ms;
}


#mainPage #queryMenu ul li.oneLine.selected, #mainPage #toolsMenu ul li.oneLine.selected{
    height:125px;
}

#mainPage #queryMenu ul li.onepointtwoLine.selected, #mainPage #toolsMenu ul li.onepointtwoLine.selected{
    height:135px;
}

#mainPage #queryMenu ul li.oneandahalfLine.selected, #mainPage #toolsMenu ul li.oneandahalfLine.selected{
    height:150px;
}

#mainPage #queryMenu ul li.almostTwoLines.selected, #mainPage #toolsMenu ul li.almostTwoLines.selected{
    height:180px;
}
#mainPage #queryMenu ul li.twoLines.selected, #mainPage #toolsMenu ul li.twoLines.selected{
    height:195px;
}

#mainPage #queryMenu ul li.twoandahalfLines.selected, #mainPage #toolsMenu ul li.twoandahalfLines.selected{
    height:205px;
}

#mainPage #queryMenu ul li.threeLines.selected, #mainPage #toolsMenu ul li.threeLines.selected{
    height:220px;
}

#mainPage #queryMenu ul li.fourLines.selected, #mainPage #toolsMenu ul li.fourLines.selected{
    height:245px;
}

#mainPage #queryMenu ul li.fiveLines.selected, #mainPage #toolsMenu ul li.fiveLines.selected{
    height:270px;
}

#mainPage #queryMenu ul li.sixLines.selected, #mainPage #toolsMenu ul li.sixLines.selected{
    height:305px;
}

#mainPage #queryMenu ul > li h1{
    margin:0;
    padding:10px;
    cursor:pointer;
    font-weight:normal;
    font-size:20px;
    border-radius:10px;
    color:#022F3A;
    background-color:#ECEDED;
    -webkit-transition: background-color 100ms, color 100ms;
}

#mainPage #queryMenu > div > ul > li h1:hover{

    color:#00080A;
}


#mainPage #queryMenu > div > ul li.selected h1{
    position:relative;
    background-color:#022F3A;
    color:#ECEDED;
}

#mainPage #queryMenu i.ion-information-circled {
    display:none;
    font-size:18px;
    position:absolute;
    right:6px;
    top:6px;
    background-color:#022F3A;
    color:#ECEDED;
}

#mainPage #queryMenu > div > ul li.selected h1 i {
    display:inline-block;
}


/*Tools*/

#mainPage #toolsMenu.open{
    left:0px;
}
#mainPage #toolsMenu{
    position:absolute;
    top:0;
    left:-245px;

    width:245px;
    height:100%;

    background-color:#678F99;
    z-index:1;


    -webkit-transition:left 300ms ease;
}

#mainPage #toolsMenu > div.divext {
    position:absolute;
    display:-webkit-flex;
    -webkit-align-items:center;
    -webkit-justify-content:center;
    padding: 5px 0px;
    width:55px;
    border-radius:10px;
    background-color:#678F99;
    color:#00080A;
    margin-left:230px;
    margin-top:150px;
    cursor:pointer;
}

#mainPage #toolsMenu span{
    display: block;
    text-align: left;
    margin: 10px 0 0 10px;
    font-size: 14px;
    color: #022F3A;
    font-style: italic;
}

#mainPage #toolsMenu .divext i{
    display:block;
    font-size:25px;
    margin-left:10px;
    color: #022F3A;
}

#mainPage #toolsMenu ul{
    list-style:none;
    padding:0 15px;

}
#mainPage #toolsMenu .scrolleable-y ul::after{
    content: " ";
    display: block;
    height: 1px;
    margin: 20px 0;
    background: #BFDCE3;
    border-bottom: thin solid #255C69;
}

#mainPage #toolsMenu .scrolleable-y ul:last-child::after{
    content:none;
}

#mainPage #toolsMenu .scrolleable-y ul > li h1{
    margin:0;
    padding:10px;
    cursor:pointer;
    font-weight:normal;
    font-size:20px;
    border-radius:10px;
    color:#022F3A;
    background-color:#ECEDED;
    -webkit-transition: color 100ms;
}

#mainPage #toolsMenu .scrolleable-y ul > li h1 i {
    display: block;
}


#mainPage #toolsMenu .scrolleable-y ul > li h1:hover{
    color:#00080A;
}

#mainPage #toolsMenu .scrolleable-y ul li.selected h1{
    background-color:#022F3A;
    color:#ECEDED;
}

#mainPage #toolsMenu .scrolleable-y ul > li.selected h1 i{
    background-color:#022F3A;
    color:#ECEDED;
}

#mainPage .hiddenicon {
    opacity:0;
    cursor:default;
}

/* Menu */
#mainPage #mainMenu{
    position:absolute;
    width:100%;
    top:-45px;
    -webkit-transition: top 300ms ease;
    z-index:1;
}

#mainPage #mainMenu.open{
    top:0px;
}
#mainPage #mainMenu div{
    margin: -5px auto 0;
    width: 50px;
    text-align: center;
    background-color: #678F99;
    border-radius: 5px;
    padding: 5px 0px 0;
    font-size: 30px;
}

#mainPage #mainMenu ul{
    text-align: center;
    list-style: none;
    display: -webkit-flex;
    padding: 10px;
    font-size: 25px;
    background-color: #678F99;
    width: 200px;
    border-radius: 5px;
    margin: -5px auto 0;
}

#mainPage #mainMenu ul li{
    -webkit-flex:1 1 auto;
}

/*Notify*/

#mainPage #notifyBox{
    position:absolute;
    width:300px;
    bottom:30px;
    color:black;
}

#mainPage #notifyBox div{
    opacity:1;
    margin-left:300px;
    height:20px;
    white-space: nowrap;
    transition:opacity 200ms, height 200ms;
}

#mainPage #notifyBox div.hide{
    opacity:0;
}

#mainPage #notifyBox div.collapse{
    height:0px;
}


/* Buttons */
#mainPage .buttons{
    display: -webkit-flex;
    -webkit-wrap-content:nowrap;
}

#mainPage .buttons a{
    display:block;
    -webkit-flex: 1 1 auto;
    width:50%;
    margin:10px;
    padding:3px;
    font-size:20px;
    background-color:#ECEDED;
    color:#00080A;
    border-radius:10px;
    border:thin solid #00080A;
    text-align:center;
    cursor:pointer;
    -webkit-transition: color 100ms, background-color 100ms;
}

#mainPage .buttons a.left-button{
    margin-left:10px;
    margin-right:2px;
}

#mainPage .buttons a.right-button{
    margin-left:2px;
    margin-right:10px;
}

#mainPage .buttons a:hover{
    background-color: #BFDCE3;
}